### Instructions:

- You can attempt any number of questions and in any order.  
  See the assignment page for a description of the hurdle requirement for this assessment.
- You may submit your practical for autograding as many times as you like to check on progress, however you will save time by checking and testing your own code before submitting.
- Develop and check your answers in the spaces provided.
- **Replace** the code `raise NotImplementedError()` with your solution to the question.
- Do **NOT** remove any variables other provided markings already provided in the answer spaces.
- Do **NOT** make any changes to this notebook outside of the spaces indicated.  
  (If you do this, the submission system might not accept your work)

### Submitting:

1. Before you turn this problem in, make sure everything runs as expected by resetting this notebook.    
   (You can do this from the menubar above by selecting `Kernel`&#8594;`Restart Kernel and Run All Cells...`)
1. Don't forget to save your notebook after this step.
1. Submit your .ipynb file to Gradescope via file upload or GitHub repository.
1. You can submit as many times as needed.
1. You **must** give your submitted file the **identical** filename to that which you downloaded without changing **any** aspects - spaces, underscores, capitalisation etc. If your operating system has changed the filename because you downloaded the file twice or more you **must** also fix this.

---

# <mark style="background: #801010; color: #ffffff;" >B2</mark> Topic 5: Working with pandas üêºüêºüêº

In [83]:
# Useful imports...
import numpy as np
import pandas as pd
import string
import math

#### Question 01 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2 Points)

Create a pandas Series named `series_1` with values:
```python
'a','b','c','d','e'
```
and index from 1 to 5 inclusive.

In [84]:
# Write your solution here

# YOUR CODE HERE
series_1 = pd.Series(data=['a', 'b', 'c', 'd', 'e'], index=[1 ,2, 3, 4, 5])
print(series_1)

1    a
2    b
3    c
4    d
5    e
dtype: object

In [85]:
# Testing Cell (Do NOT modify this cell)

#### Question 02 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2 Points)

Create a pandas Series named `series_2` with a default index and the values:
```python
'data', 'python', 'science', 'machine', 'learning'
```

In [86]:
# Write your solution here

# YOUR CODE HERE
series_2 = pd.Series(data=['data', 'python', 'science', 'machine', 'learning'])
print(series_2)

0        data
1      python
2     science
3     machine
4    learning
dtype: object

In [87]:
# Testing Cell (Do NOT modify this cell)

#### Question 03 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2 Points)

Create a pandas Series named `series_3` from the `np.array` variable supplied below with an index of the uppercase alphabet 'A' to 'Z'.

In [88]:
array = np.array([ 7, 59, 42, 13, 67, 19, 26, 59, 99, 97, 77,  1, 36, 49, 10, 51, 41,
       73, 33, 79, 19, 34, 84, 11, 41, 75])

In [89]:
# Write your solution here

# YOUR CODE HERE
series_3 = pd.Series(data=array, index=list(string.ascii_uppercase))
print(series_3)

A     7
B    59
C    42
D    13
E    67
F    19
G    26
H    59
I    99
J    97
K    77
L     1
M    36
N    49
O    10
P    51
Q    41
R    73
S    33
T    79
U    19
V    34
W    84
X    11
Y    41
Z    75
dtype: int64

In [90]:
# Testing Cell (Do NOT modify this cell)

#### Question 04 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4 Points)

Copy the Series above (`series_3`) to a new object named `series_4` and assign an index of the lowercase alphabet 'a' to 'z'. The first value of `series_4` should be assigned the value `100` while `series_3` must remain unchanged.

In [91]:
# Write your solution here

# YOUR CODE HERE
series_4 = series_3.copy()
series_4.index = list(string.ascii_lowercase)
series_4.iloc[0] = 100
print(series_4)

a    100
b     59
c     42
d     13
e     67
f     19
g     26
h     59
i     99
j     97
k     77
l      1
m     36
n     49
o     10
p     51
q     41
r     73
s     33
t     79
u     19
v     34
w     84
x     11
y     41
z     75
dtype: int64

In [92]:
# Testing Cell (Do NOT modify this cell)

#### Question 05 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4 Points)

Given a pandas Series of the integers from 1 to 4 named `series_5`, transform this series into a series of floats and set the name of the series to be `'Float data'`.


---
<details>
  <summary><span style="color:blue">Finding documentation on attributes and methods</span></summary>
    It's <strong>essential</strong> to be able to use the pandas API reference to discover details of the pandas classes (Series, DataFrame, Index etc). You can find how to set the data type and Series name here:
    <a href="https://pandas.pydata.org/docs/reference/index.html">API reference</a>
</details>

In [149]:
series_5 = pd.Series(['1','2','3','4'])

# Write your solution here

# YOUR CODE HERE
series_5 = series_5.astype('float')
series_5.name = 'Float data'
print(series_5)

0    1.0
1    2.0
2    3.0
3    4.0
Name: Float data, dtype: float64

In [94]:
# Testing Cell (Do NOT modify this cell)

#### Question 06 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4 Points)

Create a Series with name `series_6` that contains all values greater than 50 in the NumPy `array` from Question 3. You should rely on NumPy filtering to sift these values.


---
<details>
  <summary><span style="color:blue">Filtering NumPy arrays</span></summary>
One powerful NumPy concept is to filter the contents of an array according to a mask. Consider our `array` example and wishing to find which elements are "mod 2". We can form a boolean mask like this:
<pre>

print ([array % 2 == 0])
[array([False, False,  True, False, False, False,  True, False, False,
        False, False, False,  True, False,  True, False, False, False,
        False, False, False,  True,  True, False, False, False])]     
</pre>        
or obtain the values as
<pre>
print (array[array % 2 == 0])
[42 26 36 10 34 84]

</pre>
This is explained in the course readings <a href="https://ebookcentral.proquest.com/lib/adelaide/reader.action?docID=5446042&ppg=66">on page 58 of Hands-On Data Analysis with NumPy and Pandas : Implement Python Packages from Data Manipulation to Processing</a>.
</details>

In [95]:
# Write your solution here

# YOUR CODE HERE
series_6 = pd.Series(data=array[array > 50])
print(series_6)

0     59
1     67
2     59
3     99
4     97
5     77
6     51
7     73
8     79
9     84
10    75
dtype: int64

In [96]:
# Testing Cell (Do NOT modify this cell)

#### Question 07 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4 Points)

Create a Series of floats that represents the values of the `array` in Question 3 where:
- the value divides evenly by 3 ("mod 3"), and
- the stored value is one sixth or the original value. 
Assign this Series to the variable `series_7`. Again, you should be looking to harness the featues of NumPy and pandas to create your Series.

For example, given an array with values:
```python
7, 6, 9
```
then `series_7` would be a pandas Series of:
```python
1.0, 1.5
```

In [97]:
# Write your solution here

# YOUR CODE HERE
series_7 = pd.Series(data=array[array%3 == 0]/6)
print(series_7)

0     7.0
1    16.5
2     6.0
3     8.5
4     5.5
5    14.0
6    12.5
dtype: float64

In [98]:
# Testing Cell (Do NOT modify this cell)

#### Question 08 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4 Points)

Given the mixed type dictionary `mixed_data` below, create a pandas DataFrame from that data and assign it to a variable named `dataframe_8`.

---
<details>
  <summary><span style="color:blue">New pandas classes...</span></summary>
   Please refer to the <a href="https://pandas.pydata.org/docs/reference/index.html">API reference</a> to obtain details on any pandas classes that you have not yet encountered.
</details>

In [99]:
mixed_data={
    "A": 42.0,
    "B": pd.Timestamp("20220704"),
    "C": pd.Series(1, index=list(range(4)), dtype="float32"),
    "D": np.array([3] * 4, dtype="int32"),
    "E": pd.Categorical(["test", "train", "test", "train"]),
    "F": "foundations of computer science",
}

In [100]:
# Write your solution here

# YOUR CODE HERE
dataframe_8 = pd.DataFrame(mixed_data)
print(dataframe_8)

      A          B    C  D      E                                F
0  42.0 2022-07-04  1.0  3   test  foundations of computer science
1  42.0 2022-07-04  1.0  3  train  foundations of computer science
2  42.0 2022-07-04  1.0  3   test  foundations of computer science
3  42.0 2022-07-04  1.0  3  train  foundations of computer science

In [101]:
# Testing Cell (Do NOT modify this cell)

#### Question 09 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4 Points)

In Question 8, we created a DataFrame with 6 columns. Create a series called `series_9` with values that reflect the **data type** of each column in `dataframe_8` and an index consisting of the column labels. Set the `name` attribute of this series to `'Column Types'`.

In [102]:
# Write your solution here

# YOUR CODE HERE
series_9 = pd.Series(dataframe_8.dtypes, name='Column Types')
print(series_9)

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
Name: Column Types, dtype: object

In [103]:
# Testing Cell (Do NOT modify this cell)

#### Question 10 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)

Given a dictionary called `pricing` (below), create a DataFrame that contains only "object" and "colour" elements in that order and with column names of "object" and "colour". Assign this DataFrame to the variable `dataframe_10`.

In [104]:
pricing = {'colour' : ['blue','green','yellow','red','white'],
        'object' : ['ball','pen','pencil','paper','mug'],
        'price' : [1.2,1.0,0.6,0.9,1.7]}

# Write your solution here

# YOUR CODE HERE
dataframe_10 = pd.DataFrame(data={'object': pricing['object'], 'colour': pricing['colour']})
print(dataframe_10)

   object  colour
0    ball    blue
1     pen   green
2  pencil  yellow
3   paper     red
4     mug   white

In [105]:
# Testing Cell (Do NOT modify this cell)

#### Question 11 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)

Create a DataFrame, `dataframe_11`, that is a copy of `dataframe_10` but with the index:
```python
  'one', 'two', 'three', 'four', 'five'
```
Change the colour of the mug from `'white'` to `'black'`. `dataframe_10` should not be changed.

In [127]:
# Write your solution here

# YOUR CODE HERE
dataframe_11 = dataframe_10.copy()
dataframe_11.index = ['one', 'two', 'three', 'four', 'five']
dataframe_11.loc[dataframe_11['object'] == 'mug', 'colour'] = 'black'
print(dataframe_11)

       object  colour
one      ball    blue
two       pen   green
three  pencil  yellow
four    paper     red
five      mug   black

In [107]:
# Testing Cell (Do NOT modify this cell)

#### Question 12 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)

Download the file `weather-utf8.csv` from the MyUni assignment page for this practical and co-locate the file with this notebook. This file contains weather station data from the Australian Bureau of Meteorology for dates in January 2022. Data includes temperature, wind and rainfall information.

Load the file into a DataFrame called `dataframe_12` and set the index for this dataframe to be the 'Date'.

---
<details>
  <summary><span style="color:blue">pandas API Reference for Input/Output</span></summary>
   You can find how to read and write a CSV file to a DataFrame here:
    <a href="https://pandas.pydata.org/docs/reference/io.html">API reference (Input/Output)</a>
</details>

---
<details>
  <summary><span style="color:blue">Help! My index won't stay put?!?</span></summary>
   You can find how to set the index of DataFrame "in place" here:
    <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html">API reference (set_index)</a>
</details>

In [108]:
# Write your solution here

# YOUR CODE HERE
dataframe_12 = pd.read_csv('weather-utf8.csv')
dataframe_12.set_index('Date', inplace=True)
print(dataframe_12)

         Minimum temperature (C)  Maximum temperature (C)  Rainfall (mm)  \
Date
1/1/22                      22.5                     33.6            0.0
2/1/22                      19.3                     30.6            0.0
3/1/22                      14.1                     25.9            0.0
4/1/22                      14.2                     24.4            0.0
5/1/22                      14.4                     21.5            0.0
6/1/22                      15.8                     22.3            0.0
7/1/22                      16.6                     21.0            1.6
8/1/22                      16.0                     24.4            1.6
9/1/22                      11.7                     31.7            0.0
10/1/22                     19.8                     37.0            0.0
11/1/22                     27.2                     40.3            0.0
12/1/22                     19.2                     28.9            0.0
13/1/22                     17.6                     25.2            0.0
14/1/22                     17.8                     23.8            0.0
15/1/22                     14.5                     26.7            0.0
16/1/22                     16.9                     28.6            0.0
17/1/22                     16.4                     25.6            0.0
18/1/22                     15.1                     25.0            0.0
19/1/22                     14.2                     29.8            0.0
20/1/22                     18.9                     35.1            0.0
21/1/22                     25.7                     33.7            0.0
22/1/22                     22.8                     26.3            0.6
23/1/22                     21.1                     25.9           22.8
24/1/22                     20.5                     30.1           17.0
25/1/22                     24.2                     31.7            0.2
26/1/22                     21.8                     34.1            0.0
27/1/22                     22.0                     34.4           14.2
28/1/22                     21.7                     26.8            0.2
29/1/22                     18.0                     28.5            0.0
30/1/22                     17.4                     32.8            0.0
31/1/22                     18.7                     35.2            0.0

        Direction of maximum wind gust  Speed of maximum wind gust (km/h)  \
Date
1/1/22                              SW                                 30
2/1/22                              SW                                 35
3/1/22                               S                                 37
4/1/22                              SE                                 41
5/1/22                               S                                 37
6/1/22                              SW                                 39
7/1/22                              SW                                 43
8/1/22                              SW                                 31
9/1/22                             WNW                                 24
10/1/22                              E                                 52
11/1/22                              E                                 50
12/1/22                            WSW                                 30
13/1/22                            WSW                                 28
14/1/22                            WSW                                 30
15/1/22                            WSW                                 30
16/1/22                             SW                                 33
17/1/22                             SW                                 35
18/1/22                             SE                                 43
19/1/22                            ESE                                 50
20/1/22                             NE                                 50
21/1/22                             NE                                 44
22/1/22                            ENE                                 44
23/1/22                             NE                                 37
24/1/22                            NNE                                 35
25/1/22                             SW                                 30
26/1/22                             SW                                 26
27/1/22                              N                                 33
28/1/22                             SW                                 44
29/1/22                            SSE                                 35
30/1/22                              W                                 28
31/1/22                            WSW                                 31

        Time of maximum wind gust
Date
1/1/22                      15:39
2/1/22                      14:01
3/1/22                      17:41
4/1/22                      12:00
5/1/22                      13:23
6/1/22                      19:32
7/1/22                      15:40
8/1/22                      14:35
9/1/22                      13:00
10/1/22                     22:43
11/1/22                      0:32
12/1/22                     15:35
13/1/22                     12:29
14/1/22                     17:20
15/1/22                     14:44
16/1/22                     15:30
17/1/22                     13:34
18/1/22                     20:00
19/1/22                     23:43
20/1/22                     10:20
21/1/22                     10:36
22/1/22                      9:06
23/1/22                     17:29
24/1/22                     11:23
25/1/22                     15:25
26/1/22                     11:30
27/1/22                     23:27
28/1/22                     16:08
29/1/22                     14:52
30/1/22                     13:44
31/1/22                     15:02

In [109]:
# Testing Cell (Do NOT modify this cell)

#### Question 13 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)

Using the data loaded in Question 12, create a pandas DataFrame called `dataframe_13` containing the maximum temperature and the rainfall only on those days when the maximum temperature for the day was greater than 34 degrees.

In [110]:
# Write your solution here

# YOUR CODE HERE
dataframe_13 = dataframe_12[dataframe_12['Maximum temperature (C)'] > 34][['Maximum temperature (C)', 'Rainfall (mm)']]
print(dataframe_13)

         Maximum temperature (C)  Rainfall (mm)
Date
10/1/22                     37.0            0.0
11/1/22                     40.3            0.0
20/1/22                     35.1            0.0
26/1/22                     34.1            0.0
27/1/22                     34.4           14.2
31/1/22                     35.2            0.0

In [111]:
# Testing Cell (Do NOT modify this cell)

#### Question 14 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)

Using the data loaded in Question 12 and with reference to the [pandas API](https://pandas.pydata.org/docs/reference/index.html), create a two value tuple called `mean_14` that holds the mean of the maximum temperature and minimum temperature for the month of January like:
```python
    (mean_max_temp, mean_min_temp)
```

In [112]:
# Write your solution here

# YOUR CODE HERE
max_temp = np.array(dataframe_12['Maximum temperature (C)'])
min_temp = np.array(dataframe_12['Minimum temperature (C)'])
mean_14 = (max_temp.mean(), min_temp.mean())

In [113]:
# Testing Cell (Do NOT modify this cell)

#### Question 15 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)

Create a DataFrame called `dataframe_15` by duplicating `dataframe_12`. To reflect questionable sensor data when windspeed falls below 28 km/h, set these values (speed of maximum windgust < 28 km/h) to be the Not a Number value `np.nan`.

In [114]:
# Write your solution here

# YOUR CODE HERE
dataframe_15 = dataframe_12.copy()
dataframe_15.loc[dataframe_15['Speed of maximum wind gust (km/h)'] < 28, 'Speed of maximum wind gust (km/h)'] = np.nan
print(dataframe_15['Speed of maximum wind gust (km/h)'])

Date
1/1/22     30.0
2/1/22     35.0
3/1/22     37.0
4/1/22     41.0
5/1/22     37.0
6/1/22     39.0
7/1/22     43.0
8/1/22     31.0
9/1/22      NaN
10/1/22    52.0
11/1/22    50.0
12/1/22    30.0
13/1/22    28.0
14/1/22    30.0
15/1/22    30.0
16/1/22    33.0
17/1/22    35.0
18/1/22    43.0
19/1/22    50.0
20/1/22    50.0
21/1/22    44.0
22/1/22    44.0
23/1/22    37.0
24/1/22    35.0
25/1/22    30.0
26/1/22     NaN
27/1/22    33.0
28/1/22    44.0
29/1/22    35.0
30/1/22    28.0
31/1/22    31.0
Name: Speed of maximum wind gust (km/h), dtype: float64

In [115]:
# Testing Cell (Do NOT modify this cell)

#### Question 16 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5 Points)

Calculate the number of times that the maxmium wind gust came from the direction 'NNW' and assign it to the variable `nnw_gust_16`.

In [152]:
# Write your solution here

# YOUR CODE HERE
nnw_gust_16 = dataframe_12['Direction of maximum wind gust'].str.contains('NNW').sum()
print(nnw_gust_16)

0

In [117]:
# Testing Cell (Do NOT modify this cell)

#### Question 17 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(10 Points)

Download the file `titanic.csv` from the MyUni assignment page for this practical and co-locate the file with this notebook. This file contains data on the passengers on the Titanic - including an indication of those who lived and died on 14 April 1912 when it sank. Most columns are self-explanatory except the `Pclass`, `SibSp` and `Parch`.

Load the CSV file into a DataFrame called `dataframe_17` and amend the title of the column `'Pclass'` to `'Passenger Class'`. Also, delete the columns `SibSp` and `Parch` from the DataFrame. Refer to the [API Reference](https://pandas.pydata.org/docs/reference/index.html) for information on renaming and dropping columns if required - and recall from Question 12 that we must specify "inplace" for changes to the DataFrame to persist.

In [118]:
# Write your solution here

# YOUR CODE HERE
dataframe_17 = pd.read_csv('titanic.csv')
dataframe_17.rename(columns={'Pclass': 'Passenger Class'}, inplace=True)
dataframe_17.drop(columns=['SibSp', 'Parch'], inplace=True)
dataframe_17

,PassengerId,Survived,Passenger Class,Name,Sex,Age,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,370376,7.7500,NaN,Q

In [119]:
# Testing Cell (Do NOT modify this cell)

#### Question 18 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(10 Points)

The column `'Survived'` uses 1 and 0 to indicate whether the passenger survived. Create a `dataframe_18` which is a copy of `dataframe_17` and replaces 1 and 0 in the `'Survived'` column with the Python values `True` and `False`.

In [122]:
# Write your solution here

# YOUR CODE HERE
dataframe_18 = dataframe_17.copy()
dataframe_18['Survived'].replace(1, True, inplace=True)
dataframe_18['Survived'].replace(0, False, inplace=True)
print(dataframe_18)

     PassengerId  Survived  Passenger Class  \
0              1     False                3
1              2      True                1
2              3      True                3
3              4      True                1
4              5     False                3
..           ...       ...              ...
886          887     False                2
887          888      True                1
888          889     False                3
889          890      True                1
890          891     False                3

                                                  Name     Sex   Age  \
0                              Braund, Mr. Owen Harris    male  22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2                               Heikkinen, Miss. Laina  female  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4                             Allen, Mr. William Henry    male  35.0
..                                                 ...     ...   ...
886                              Montvila, Rev. Juozas    male  27.0
887                       Graham, Miss. Margaret Edith  female  19.0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN
889                              Behr, Mr. Karl Howell    male  26.0
890                                Dooley, Mr. Patrick    male  32.0

               Ticket     Fare Cabin Embarked
0           A/5 21171   7.2500   NaN        S
1            PC 17599  71.2833   C85        C
2    STON/O2. 3101282   7.9250   NaN        S
3              113803  53.1000  C123        S
4              373450   8.0500   NaN        S
..                ...      ...   ...      ...
886            211536  13.0000   NaN        S
887            112053  30.0000   B42        S
888        W./C. 6607  23.4500   NaN        S
889            111369  30.0000  C148        C
890            370376   7.7500   NaN        Q

[891 rows x 10 columns]

/tmp/ipykernel_2371615/2980928228.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe_18['Survived'].replace(1, True, inplace=True)
/tmp/ipykernel_2371615/2980928228.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataframe_18['Survived'].replace(0, False, inplace=True)

In [ ]:
# Testing Cell (Do NOT modify this cell)

#### Question 19 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(15 Points)

To end this practical, work out what percentage of female and male passengers survived. Present these two values in a variable called `survivors_19` that is a tuple `(female_percent, male_percent)` that expresses the percentage of survivors rounded to one decimal place like:
```python
    (72.1, 25.9)  # values are fictional but show the expected format of the result
```
To determine this value, explore the pandas API for the [groupby](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html) function.

In [154]:
# Write your solution here

# YOUR CODE HERE
dataframe_19 = dataframe_18.groupby('Sex')['Survived'].sum()
print(dataframe_19)

total_passengers = dataframe_17.groupby('Sex')['Survived'].count()

female_percent = (dataframe_19['female'] / total_passengers['female']) * 100
male_percent = (dataframe_19['male'] / total_passengers['male']) * 100

survivors_19 = (round(female_percent, 1), round(male_percent, 1))

print(survivors_19)

Sex
female    233
male      109
Name: Survived, dtype: int64
(np.float64(74.2), np.float64(18.9))

In [ ]:
# Testing Cell (Do NOT modify this cell)